<html>
<head>
	<title>Login Page</title>
</head>
<body>
	<div id="wrapper" class="">
    	<div id="header" class="navbar navbar-inverse navbar-static-top">
        	<div class="navbar-inner">
            	<div class="container">
                	<a class="brand" href="{{site_url}}">Login Page</a>
                    <div id="links" class="pull-right nav-collapse collapse">
                    	<ul class="nav">
                        	<li class=""><a href="{{site_url}}">Home</a></li>
                            <li class=""><a href="/register/">Register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="content" class="container">
        	<div class="row-fluid">
                <div class="span12 well" id="login">
                     {% if invalid_login %}
						<span style="color:#9d261d">Invalid Login!</span>
					{% endif %}
                   <h4>Login:</h4>
                    <form action="/login/" method="POST" class="form span5">

                        {% csrf_token %}
  						<div class="control-group">
    						<label class="span3 control-label">UserName</label>
      						<input type="text" id="id_username" name="username" placeholder="User Name" class="span8">
  						</div>
  						<div class="control-group">
    						<label class="span3 control-label">Password</label>
      						<input type="password" id="id_password" name="password" placeholder="Password" class="span8">
  						</div>
                         <div class="control-group">
    						<input id="submit" value="Login" class="btn btn-primary" type="submit">
  						</div>
                     </form>
                </div>
            </div>
        </div>
    </div>
    <script src="{{site_url}}js/jquery-1.6.2.js"></script>
</body>
</html>
